.header
  .header__box
    .header__box__upper
      = link_to root_path do
        = image_tag "pasharirogo.jpg", class: "header__box__upper__text"
      .header__box__upper__search
        %form.header__box__upper__search__form
          %input{type: "text", placeholder: "キーワードから探す", class: "header__box__upper__search__form__input"}
          %button{type: "submit", class: "header__box__upper__search__form__btn"}
            = image_tag "icon-search 1.png", class: "header__box__upper__search__form__btn__icon"
    .header__box__lawer
      %ul.header__box__lawer__left
        %li.header__box__lawer__left__category
          = link_to "さっそく投稿する", new_post_path, class: "header__box__lawer__left__category__btn"
      %ul.header__box__lawer__right
        - if user_signed_in?
          %li.header__box__lawer__right__login
            = link_to destroy_user_session_path, method: :delete, class: "header__box__lawer__right__login__btn" do
              ログアウト
          %li.header__box__lawer__right__sign-up
            = link_to "#", class: "header__box__lawer__right__sign-up__btn" do
              マイページ
        - else
          %li.header__box__lawer__right__login
            = link_to new_user_session_path, class: "header__box__lawer__right__login__btn" do
              ログイン
          %li.header__box__lawer__right__sign-up
            = link_to "#", class: "header__box__lawer__right__sign-up__btn" do
              新規登録