.header
  .header__box
    .header__box__upper
      = link_to "ぱしゃり〜", root_path, class: "header__box__upper__text"
      .header__box__upper__search
        %form.header__box__upper__search__form
          %input{type: "text", placeholder: "キーワードから探す", class: "header__box__upper__search__form__input"}
          %button{type: "submit", class: "header__box__upper__search__form__btn"}
            = image_tag "icon-search 1.png", class: "header__box__upper__search__form__btn__icon"
    .header__box__lawer
      %ul.header__box__lawer__left
        %li.header__box__lawer__left__category
          = link_to "さっそく投稿する", "#", class: "header__box__lawer__left__category__btn"
      %ul.header__box__lawer__right
        %li.header__box__lawer__right__login
          = link_to "ログイン", "#", class: "header__box__lawer__right__login__btn"
        %li.header__box__lawer__right__sign-up
          = link_to "新規会員登録", "#", class: "header__box__lawer__right__sign-up__btn"