-# ヘッダー
= render 'sub-header'

-# ファッション情報
.main
  .main__show
    .main__show__title
      .main__show__title__content
        title
        .main__show__title__content__text
          = @post.name
    .main__show__contents
      .main__show__contents__content
        text
        .main__show__contents__content__text
          = @post.text
    .main__show__upper
      .main__show__contents__content
        画像表示
        .main__show__contents__content__img
          = @post.image
    .main__show__lower
      .main__show__lower__head
        .main__show__lower__head__content
          ヘアスタイル
          .main__show__lower__head__content__text
            = @post.hairstyle
      .main__show__lower__wear
        .main__show__lower__wear__content
          ウェア系
      .main__show__lower__accessory
        .main__show__lower__accessory__content
          アクセ










-# フッター
= render 'footer'